


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {

	font-family: 'Varela Round', sans-serif;
	text-align: center;
	margin: 4rem;
	background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

main{
	padding: 9rem;
	display: grid;
}

.label{
	padding: 10px;
	
}

#submit-btn{border-radius: 20px;
	height: 10px;
	line-height: 10px;
	color: #FFFFFF;
	font-family:  'Varela Round', sans-serif;
	width: 153px;
	font-size: 19px;
	font-weight: 100;
	padding: 16px;
margin:auto;
background-color: cornflowerblue;
margin-top: 25px;
}